* {
  margin: 0;
  padding: 0;
  background-color: lightcyan;
}

.movie {
  color: brown;
  list-style: none;
  margin: px
}

.link a {
  text-decoration: none;
  color: blueviolet;
  margin: 2px;
  padding: 5px;
}